.svButtonEnter {
    margin: 5px;
    height: 36px;
    width: 124px;
    color: #2196f3;
}

.svButtonRegister {
    background: #1767E5 0% 0% no-repeat padding-box;
    color: white;
    margin: 5px;
    height: 36px;
    width: 123.55px;
}

.svmargin {
    flex: 1 1 auto;
}

@media only screen and (min-width:769px) {
    .imageLogo {
        background-image: url('/assets/svg/LogoSimSaveRed.svg');
        width: 118px;
        height: 30px;
        margin-top: 5px;
    }
}

@media only screen and (min-width:280px) and (max-width:768px) {
    .imageLogo {
        background-image: url('/assets/svg/LogoSimSaveRedSimple.svg');
        width: 36px;
        height: 30px;
        margin-top: 5px;
    }
}