<div class="svRegister" fxLayout="row" fxLayoutAlign="center end">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="40%" fxFlex.sm="90%" fxFlex.xs="95%">
        <mat-card class="card svregister">
            <mat-card-header fxLayout="row" fxLayoutAlign="center">
                <mat-card-title class="svtitleRegister">Ainda não é assinante?</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="textRegister">
                    Digite seus dados abaixo para se cadastrar na plataforma
                </p>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center end">
                <button mat-button class="svregisterButton" routerLink="/simsavelogin" routerLinkActive="active">
          Cadastre-se
        </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>