<div class="svspace"></div>
<footer fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-around" fxLayoutGap.xs="grid">
    <div class="svfooter" fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center stretch">
        <a routerLink="/" routerLinkActive="active">
            <img src="assets/svg/LogoSimSaveRed.svg" />
        </a>
    </div>
    <div class="svfooter" fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center stretch">
        <fa-icon [icon]="faTwitterSquare" size="2x"></fa-icon>
        <fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>
        <fa-icon [icon]="faInstagramSquare" size="2x"></fa-icon>
        <fa-icon [icon]="faYoutubeSquare" size="2x"></fa-icon>
        <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
    </div>
    <div class="svfooter" fxFlex="33%" fxFlex.xs="100%" fxLayoutAlign="center stretch">
        <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutAlign.xs="space-around start">
            <div fxLayout="row" fxLayoutAlign="start start">
                <fa-icon [icon]="faEnvelope" size="2x" class="svmailicon"></fa-icon>
                <h2>Fale Conosco</h2>
            </div>
            <div class="svContactMe">Dúvida, crítica sugestão ou elogio? Envie um e-mail para <a href="mailto:suporte@simsave.com.br">suporte@simsave.com.br</a></div>
        </div>
    </div>
</footer>